<h1>Listing regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Top left x</th>
      <th>Top left y</th>
      <th>Width</th>
      <th>Height</th>
      <th>Original</th>
      <th>Watermark</th>
      <th>Watermark strength</th>
      <th>Watermark resolution</th>
      <th>Link</th>
      <th>Trigger</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.top_left_x %></td>
        <td><%= region.top_left_y %></td>
        <td><%= region.width %></td>
        <td><%= region.height %></td>
        <td><%= region.original %></td>
        <td><%= region.watermark %></td>
        <td><%= region.watermark_strength %></td>
        <td><%= region.watermark_resolution %></td>
        <td><%= region.link %></td>
        <td><%= region.trigger %></td>
        <td><%= link_to 'Show', project_image_region_path(@project, @image, region) %></td>
        <td><%= link_to 'Edit', edit_project_image_region_path(@project, @image, region) %></td>
        <td><%= link_to 'Destroy', project_image_region_path(@project, @image, region), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_project_image_region_path %>
