<h1>Listing pays</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Payoffurl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pays.each do |pay| %>
      <tr>
        <td><%= pay.name %></td>
        <td><%= pay.url %></td>
        <td><%= pay.payoffurl %></td>
        <td><%= link_to 'Show', pay %></td>
        <td><%= link_to 'Edit', edit_pay_path(pay) %></td>
        <td><%= link_to 'Destroy', pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pay', new_pay_path %>
